@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Satoshi', sans-serif;
}
a {
  font-family: 'Satoshi', sans-serif;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
}
